.frmCompradorWrapper{

    display: flex;
    width: 100vw;
    height: 90vh;
    .leftPanelWrapper, .frmWrapper{
        height: 100%;
       
        align-items: center;
        justify-content: center;
    }
    .leftPanelWrapper{
        display: grid;
        padding: 5% 7.5%;
        grid-template-rows: 80% 20% ;
        grid-template-columns: 100%;
        justify-items: center;
        align-items: center;
        color: white;
        width: 50%;
        background-color: var(--button-bg-dark);
        h1{
            font-size: 3em;
            display: block;
            justify-self: baseline;
            width: 80%;
        }
        a{
            padding: 2%;
            justify-self: baseline;
            transition: background 0.5s;
            &:hover{
                background-color: lighten(#1a1818, 5);

            }
            
            button{
                background-color: transparent;
                color: white;
                font-size: 1.5em;
                svg{
                    vertical-align: middle;
        
                }
            } 
        }
    }
    .frmWrapper{
        width: 50%;
        height:100%;
        display: flex;
        background-color: beige;

    }
    form{
        padding: 5%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 80%;
        width: 60%;
        align-items: center;
        input,button{
            height: 10%;
        }
        input{
            background-color: beige;
            border-width: 0 0 2px;
            border-color: black;
            outline: 0;
            color: black;
            width: 100%;
            padding: 5%;
        }
        button{
            background-color: var(--button-bg-dark);
            color: white;
            width: 60%;
            &:hover{
                background-color: lighten(#1a1818, 10%);

            }
        }
    }
.compraCompletada{
    background-color: beige;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    width: 100%;
    padding: 7.5% 0;
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 2em;
    }
    button{
        width: 25%;
        font-size: 1.2em;
        padding: 1%;
        background-color: #1a1818;
        color: white;
        font-weight: 600;
        
        svg{
            vertical-align: middle;
            margin-left: 9%;
            height: 100%;
        }
        &:hover{
            background-color: lighten(#1a1818,10);

        }
        &:active{
            background-color: lighten(#1a1818,20);

        }
    }
}
}
@media screen and(max-width:768px){
    .frmCompradorWrapper{
    
    flex-direction: column;
    width: 100vw;
        height: auto;
    .leftPanelWrapper{
        grid-template-rows: 20% 80% ;
        a{
            order: 1;
        }
        h1{ 
            order: 2;
            justify-self: center;
            text-align: center;
        }
        height: 50vh;
    }
    .leftPanelWrapper, .frmWrapper{
       
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .frmWrapper{
        
        height: 100vh;
        h1{
            text-align: center;
        }
        form{
            padding: 0;
            svg{
                animation: animacionArrow alternate-reverse infinite 1s;
            }
            button{
                width: 80%;
            }
        }
    }
}
}
@keyframes animacionArrow {
    
    to{
        transform: translatey(-15px);
    }
}