@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap";
@import "https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand',sans-serif;
}
:root{
	--button-bg-dark:#1A1818;
	--main-bg-color:#e0e0e0;
}
body {
	background-color: white;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a{
	text-decoration: none;
}
button, input[type="submit"] {
transition: all 0.7s;

	&:enabled {
		cursor: pointer;
		border: none;
	}
	&:disabled {
		outline: none;
		box-shadow: none;
	}
	
}
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	background: #1f2937;
}
::-webkit-scrollbar-thumb {
	background-color: beige;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
